.Rating {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .progress-rating {
        display: flex;
        flex-direction: column;
    }
    .title-progress {
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: space-between;
    }
    .title-progress p {
        display: flex;
        width: 30%;
    }
}