.container-universe {
    display: flex;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(149, 168, 185);
    .blockInfo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
    }


    .info {
        display: flex;
        gap: 50px;
        border-bottom: 1px solid #fff;
        width: 100%;
    }
}